<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container mt-5">
    <h2 class="mb-4">Enregistrer un Utilisateur</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" [(ngModel)]="user.username" name="username" class="form-control" required>
      </div>

      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)]="user.email" name="email" class="form-control" required>
      </div>

      <div class="form-group mb-4">
        <label for="password">Mot de Passe</label>
        <input type="password" id="password" [(ngModel)]="user.password" name="password" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
  </div>

  <div class="container mt-5">
    <h2 class="mb-4">Liste des Utilisateurs</h2>

    <!-- Vérification si la liste est vide -->
    <div *ngIf="!usersDisplay || usersDisplay.length === 0">
      <p>Aucun utilisateur trouvé.</p>
    </div>

    <!-- Table pour afficher les utilisateurs -->
    <table class="table table-striped" *ngIf="usersDisplay ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom d'utilisateur</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of sortUsersByDate(); let i = index">
          <th scope="row">{{ user.id }}</th>
          <td><span *ngIf="!isUpdating">{{ user.username }}</span>
            <input type="text" [(ngModel)]=user.username *ngIf="isUpdating">
          </td>
          <td> <span *ngIf="!isUpdating">{{ user.email }}</span>

            <input type="text" [(ngModel)]=user.email *ngIf="isUpdating">

          </td>

          <td>
            <button class="btn btn-warning btn-sm" (click)="toogle()" *ngIf="!isUpdating">Modifier</button>
            <button class="btn btn-warning btn-sm" (click)="updateUser(user.id,user)"
              *ngIf="isUpdating">Modifier</button>
            <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</body>

</html>
